.App header {
  font-family: sans-serif;
  text-align: center;
}


.App {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: fixed;
	height: 100%;
	width: 100%;
  left: 0;
  top: 0;
}


.MyMapView {
  height: 1px;
  flex-grow: 1;
  flex-basis: 1px;
}

.MiniMap {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 0;
  top: 0;
  border: 2px solid black;
  background: white;
}

.mapview-overlay {
  position: absolute;
}